[Unit]
Description=GOcontroll automatic shutdown service
After=go-simulink.service

[Service]
Type=exec
RemainAfterExit=no
ExecStart=/usr/bin/go-auto-shutdown

[Install]
WantedBy=multi-user.target
